html {
    font-size: 16px;
    color: #344e41;
    background-color: #ccd5ae;
}
header {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: #3a5a40;
    display: flex;
    justify-content: space-around;
}
header a {
    background-color: #dad7cd;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #344e41;
    margin: .1em;
    padding: 1rem;
    flex: 1;
    font-size: 2.5em;
    border-radius: .2rem;

}
body {
    margin: 0;
}
.content {
    background-color: rgba(218, 215, 205, .5);
    padding: 1rem;
    margin: 2rem;
    border: 1px solid rgba(58, 90, 64, .3);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table {
    font-size: 1.6rem;
}
tr {
    display: flex;
    justify-content: space-evenly;
}
th:first-child, td:first-child {
    width: 3%; /* Adjust this value as needed */
}
th:not(:first-child), td:not(:first-child) {
    flex: 1;
}
th:last-child, td:last-child {
    flex: 1.9;
}
th {
    /* font-size: 1.6rem; */
    background-color: rgba(218, 215, 205, .5);
    border: 1px solid rgba(58, 90, 64, .3);
}
td {
    border: 1px solid rgba(58, 90, 64, .3);
    text-align: center;
    align-content: center;
}
td a {
    text-decoration: none;
}
form {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
p {
    display: flex;
    justify-content: space-evenly;
}
input, label, select {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
}


/*

label {
    margin-right: 10px;
    width: 100px;
}

input {
    flex: 1;
    margin-right: 20px;
}
label:nth-of-type(2n+1),
input:nth-of-type(2n+1) {
    clear: both;
} */